[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorly = "*"
matplotlib = "*"
scikit-learn = "*"
nnetwork = "*"
pandas = "*"
jupyter = "*"
scikit-image = "*"
importlib-resources = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3"
